

<div class="wrapper">
  <table>
    <tr>
      <th>

      </th>
      <th *ngFor="let col of cols">
        {{col}}
      </th>
    </tr>
    <tr *ngFor="let row of rows">
      <td align="center">
        {{row}}
      </td>
        <td id="{{row + col}}" (click)="fire( row + col)" class="def" *ngFor="let col of cols">
        </td>
    </tr>
  </table>
</div>
<div class="info">
  <h3>Game information</h3>
  <div>
    <p>
      To hit a location just click on it, or enter its coordinates in the field below (e.g A2) and press Fire.
    </p>
  </div>

  <div>
    <input  matInput placeholder="Enter location"  [(ngModel)]="fireLocation">
    <button (click)="fire('')" mat-raised-button color="warn">Fire</button>
  </div>

  <div>
      Ships: 
      <ul>
        <li *ngFor="let ship of initialShips">
            {{ship.name}}
        </li>
      </ul>
    </div>

    <div *ngIf="shipsSunk">
      Ships sunk: 
      <ul>
        <li *ngFor="let ship of shipsSunk">
            {{ship.name}}
        </li>
      </ul>
    </div>


    <div *ngIf="showCheat">
      Ships locations: 
      <ul>
        <li *ngFor="let ship of initialShips">
            {{ship.name}}: locations: {{ship.locations}}
        </li>
      </ul>
    </div>

  <div *ngIf="!youWon">
    <h2>{{messageForUser}}</h2>
  </div>

  <div>

  </div>

     
  <div *ngIf="youWon">
    <h1>You won!</h1>
    <h4>Shots taken: {{shotsTaken}}</h4>
    <h6>Click the button to play again</h6>
    <button (click)="playAgain()" mat-raised-button color="warn">Play again</button>    
  </div>
</div>